body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

header {
  background: #333;
  color: white;
  padding: 20px;
}header {
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 60px;
}



nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00bcd4;
}

section {
  padding: 40px;
}

footer {
  background: #333;
  color: white;
  padding: 10px;
}
